python-dotenv
pydantic
pydantic-settings
numpy
sounddevice
pyaudio
ibm-watson
ibm-cloud-sdk-core
ibm-watsonx-ai
opensmile
opencv-python
mediapipe
httpx
fastapi
uvicorn[standard]
python-multipart
pymongo
certifi
